<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>wind_</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					<key>spriteframe</key>
					<string>wind_29</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_28</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_27</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_26</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_25</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_24</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_23</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_22</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_21</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_20</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_19</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_18</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_17</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_16</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_15</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_14</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_13</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_12</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_11</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_10</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_9</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_8</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_7</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_6</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_5</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_4</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_3</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_2</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>wind_1</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					<key>spriteframe</key>
					<string>wind_0</string>
				</dict>
			</array>
			<key>loops</key>
			<integer>1</integer>
			<key>restoreOriginalFrame</key>
			<true/>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>spritesheets</key>
		<array>
			<string>wind.plist</string>
		</array>
	</dict>
</dict>
</plist>
