<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>walk0</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>736</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk1</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>704</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk10</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>416</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk11</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk12</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>352</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk13</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk14</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>288</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk15</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk16</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>224</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk17</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk18</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk19</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk2</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>672</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk20</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk21</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk22</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk23</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk3</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>640</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk4</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>608</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk5</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>576</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk6</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>544</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk7</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>512</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk8</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk9</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>32</integer>
		<key>width</key>
		<integer>768</integer>
	</dict>
</dict>
</plist>
