<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>walk_east_</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					<key>spriteframe</key>
					<string>walk_east_2</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>walk_east_1</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					<key>spriteframe</key>
					<string>walk_east_0</string>
				</dict>
			</array>
			<key>loops</key>
			<integer>1</integer>
			<key>restoreOriginalFrame</key>
			<true/>
		</dict>
		<key>walk_north_</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					<key>spriteframe</key>
					<string>walk_north_2</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>walk_north_1</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					<key>spriteframe</key>
					<string>walk_north_0</string>
				</dict>
			</array>
			<key>loops</key>
			<integer>1</integer>
			<key>restoreOriginalFrame</key>
			<true/>
		</dict>
		<key>walk_south_</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					<key>spriteframe</key>
					<string>walk_south_2</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>walk_south_1</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					<key>spriteframe</key>
					<string>walk_south_0</string>
				</dict>
			</array>
			<key>loops</key>
			<integer>1</integer>
			<key>restoreOriginalFrame</key>
			<true/>
		</dict>
		<key>walk_west_</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
					<key>spriteframe</key>
					<string>walk_west_2</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>spriteframe</key>
					<string>walk_west_1</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
					<key>spriteframe</key>
					<string>walk_west_0</string>
				</dict>
			</array>
			<key>loops</key>
			<integer>1</integer>
			<key>restoreOriginalFrame</key>
			<true/>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>spritesheets</key>
		<array>
			<string>warrior.plist</string>
		</array>
	</dict>
</dict>
</plist>
