<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>campfire0</key>
		<dict>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>16</integer>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>width</key>
			<integer>12</integer>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>campfire1</key>
		<dict>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>16</integer>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>width</key>
			<integer>12</integer>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>campfire2</key>
		<dict>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>16</integer>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>width</key>
			<integer>12</integer>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>campfire3</key>
		<dict>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>16</integer>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>width</key>
			<integer>12</integer>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>campfire4</key>
		<dict>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>16</integer>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>width</key>
			<integer>12</integer>
			<key>x</key>
			<integer>36</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>campfire5</key>
		<dict>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>16</integer>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>width</key>
			<integer>12</integer>
			<key>x</key>
			<integer>24</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>campfire6</key>
		<dict>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>16</integer>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>width</key>
			<integer>12</integer>
			<key>x</key>
			<integer>12</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>campfire7</key>
		<dict>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>16</integer>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>width</key>
			<integer>12</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>16</integer>
		<key>width</key>
		<integer>96</integer>
	</dict>
</dict>
</plist>
